@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sf;
  src: url('/assets/fonts/sf.woff2');
}

@font-face {
  font-family: sf-bold;
  src: url('/assets/fonts/sfbold.woff2');
}
